[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
simple-term-menu = "*"
numpy = "*"
setuptools = "*"
prettytable = "*"
fastapi = {extras = ["all"], version = "*"}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
